html {
  overflow-x: hidden;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.appbar-toolbar {
  justify-content: space-between;
}

.appbar-toolbar--title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.App-body {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 64px);
}

video {
  width: 100vw;
  max-height: calc(100vh - 256px);
}

.stats {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin: 1rem;
}

.loading-scrim {
  text-align: center;
  min-height: 40vmin;
  pointer-events: none;
  padding: 3rem;
  margin: 0 auto;
}

.App-logo {
  width: 128px;
  height: 128px;
}

.word-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.typewriter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  direction: rtl;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.0075em;
}
.word-log {
  display: flex;
  flex-direction: column;
  direction: rtl;
  padding: 0.5rem;
  font-size: 1.25rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.0075em;
}

.word-log p {
  text-align: start;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  background-color: #ffce42;
  border-radius: 1rem 1rem 0 1rem;
}

@media (orientation:landscape)
and (min-device-width: 320px) 
and (max-device-width: 767px) {
    .App-body {
    flex-direction: row;
  }
  video, .word-container {
    width: auto;
    max-height: calc(100vh - 64px);
  }
  .word-log {
    overflow: auto;
  }
  
}